#container {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}
#left {
	width: 307px;
	height: 1000px;
	float: left;
	background-color: #FAC02C;
}
#right {
	width: 610px;
	float: right;
}
#postercontainer {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
}
#footer {
   clear: both;
}
#plakat {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 200;
	font-size: 1.5em;
	padding: 0px 25px 0px 25px;
	color: #E63F21;
}
p {
	font-family: 'Open Sans', 'sans-serif';
 	font-weight: 200;
	font-size: 1em;
	padding: 0px 25px 0px 25px;
	color: #57453A;
}
form {
	padding: 0px 25px 0px 25px;
}
input {
	width: 100%;
	border: 1px solid #E63F21;
}
.redbutton{
	width: 100%;
	text-decoration: none;
	border: 1px solid #E63F21;
	color: #FFFFFF;
	background: #E63F21;
	margin-top: 10px;
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 200;
	font-size: 1em;
}
textarea {
	width: 100%;
	border: 1px solid #E63F21;
}
input[type="submit"] {
	color: #FFFFFF;
	background: #E63F21;
	margin-top: 10px;
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 200;
	font-size: 1em;
}
label {
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 200;
	font-size: 1.5em;
	color: #E63F21;
}
#postermockup{
	position: relative;
}
#postermockup h1 {
  	position: absolute;
   	top: 81px;
   	left: 30px;
   	width: 600px;
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 400;
	font-size: 3em;
	color: #57453A;
}
#postermockup p {
  	position: absolute;
   	top: 240px;
   	left: 30px;
   	width: 600px;
	font-family: 'Open Sans', 'sans-serif';
 	font-weight: 100;
	font-size: 1em;
	color: #57453A;
}
#posterpdf{
	position: relative;
}
#posterpdf {
    background-image: url(../image/plakat-large-notext.jpg);
    background-repeat: no-repeat;
    width: 700px;
    height: 990px;
}
#posterpdf h1 {
  	position: absolute;
   	top: 81px;
   	left: 30px;
   	width: 600px;
	font-family: 'Open Sans', 'sans-serif';
	font-style: italic;
 	font-weight: 400;
	font-size: 3em;
	color: #57453A;
}
#posterpdf p {
  	position: absolute;
   	top: 240px;
   	left: 30px;
   	width: 600px;
	font-family: 'Open Sans', 'sans-serif';
 	font-weight: 100;
	font-size: 1em;
	color: #57453A;
}
